[submodule "teris/vendor/spdlog"]
	path = teris/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "teris/vendor/GLFW"]
	path = teris/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "teris/vendor/imgui"]
	path = teris/vendor/imgui
	url = https://github.com/TheCherno/imgui
